<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Su Cuenta</title>
    <script src="/static/js/sorttable.js"></script>
</head>

<body>
    <h1>
        <span>Hola, {{.Account.Holder}}</span>
    </h1>
    <a href="/logout/">
        <!-- Logout Icon -->
        Cerrar Sesión
    </a>
    <br>
    <a href="/letter/">
        <!-- Logout Icon -->
        Enviar Carta
    </a>


    <div>

        <!-- Balance Icon -->
        <div>
            <i>BALANCE: </i>
            {{ if gt .Account.Balance 0 }}
            <span style="color: green">{{.Account.Balance}}</span>
            {{ else }}
            <span style="color: red">{{.Account.Balance}}</span>
            {{ end }}
            $

        </div>

        <!-- Account Number Icon -->
        <div>
            <i>Núero de Cuenta: </i>
            <span>{{.Account.Id}}</span>
        </div>


        <!-- Date Icon -->
        <div>
            <i>Fecha: </i>
            <span>{{.Clock}}</span>
        </div>

    </div>

    <div>

        {{ if .Errors }}
        <ul>
            {{ range .Errors }}
            <span><i></i> {{ . }}</span>
            {{end}}
        </ul>
        {{ end }}
    </div>

    <div id="transfer">
        <h3>Orderne una transferencia</h3>
        <form action="/transfer/" method="post">
            <label for="concept"><i></i>Concepto:</label>
            <input type="text" name="concept" value="Gift" required>

            <label for="amount"><i></i>Importe:</label>
            <input type="number" name="amount" min="0" required>

            <label for="to"><i></i>A favor de:</label>
            <input type="number" name="to" min="0" required>

            <label for="due"><i></i>Fecha de pago:</label>
            <input type="number" name="due" min="0" value="{{.Clock}}" required>

            <input type="submit" value="Submit">
        </form>
    </div>

    <div id="transactions">
        <h3>Transaction List</h3>
        <table class="sortable">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Concepto
                    </th>
                    <th>
                        Importe
                    </th>
                    <th>
                        Cuenta
                    </th>
                </tr>
            </thead>

            <tbody id="transaction-table-body">
                {{range .Account.Transactions}}
                <tr>
                    <td>{{.Id}}</td>
                    <td>{{.Date}}</td>
                    <td>{{.Concept}}</td>
                    <td>{{.Amount}}</td>
                    <td>{{.To_from}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>

    <div id="inbox">
        <h3>Buzón</h3>
        <table class="sortable">
            <thead>
                <tr>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Título
                    </th>
                    <th>
                        Remitente
                    </th>
                    <th>
                        Destinatario
                    </th>
                </tr>
            </thead>
            <tbody id="transaction-table-body">
                {{range .Account.Letters}}
                <tr>
                    <td>{{.Date}}</td>
                    <td><a href="/read/{{.Timestamp}}">{{.Title}}</a></td>
                    <td>{{.From}}</td>
                    <td>{{.To}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</body>

</html>