<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Banco</title>
</head>

<body>
    <h1>Bienvenido al BANCO</h1>
    <p>
        Este es un sistema de banca en línea muy simple para usar en juegos de mesa como Monopoly, o cualquier juego de
        chat en línea que se te ocurra (¿tal vez Nomic?). ¡No es nada seguro! ¡Ten cuidado! No uses información real y
        no intentes hackearlo mientras juegas... o sí, ¡si eso hace que el juego sea divertido!
    </p>

    <h3>Current date: <em>{{.Clock}}</em></h3>

    <div>
        {{ if .Errors }}
        <ul>
            {{ range .Errors }}
            <span><i></i>{{ . }}</span>
            {{end}}
        </ul>
        {{ end }}
    </div>

    <form action="/login/" method="POST">
        <label for="name">Nombre</label>
        <input type="text" name="name" required>

        <label for="account">Número de cuenta</label>
        <input type="number" name="account" required>

        <label for="password">Contraseña</label>
        <input type="password" name="password" required>

        <input type="submit" value="Log in">
    </form>

    <div>
        <a href="/static/signup.txt">Date de alta!</a>
    </div>
</body>

</html>